:root {
 --white-text: rgba(255, 255, 255, 0.89);
 background-color: rgb(25, 144, 190);
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: var(--white-text);
}

section {
    padding: 2% 0;
    margin: 0 7%;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    background-color: rgb(25, 144, 190);
    
}

header h1 {
    padding: 2% 0;
    color: var(--white-text);
    font-size: 4em
}

/* added this in as I believe there is a default 40px padding for ul that was causing the list to not be aligned in the center */
header ul {
    padding-left: 0;
}

/* making the list go from left to right and removing the bullets */
header li {
    display: inline;
    list-style-type: none;
    margin-bottom: 1%;
}

header li:hover, header a:hover {
    font-size: 36px;
    font-weight: bold;
    color: rgb(143, 17, 143);
}

header a {
    text-decoration: none;
    color: var(--white-text);
    padding: 0 2% 2% 2%;
    font-size: 20px;
}

/* creating a separator between different sections */
hr {
    height: 0;
    width: 33%;
    border-style: dotted;
    border-width: 10px;
    color: var(--white-text);
    border-bottom: hidden;
    }

    section img {
        padding: 15px 30px;
        filter: grayscale(100%);
        border-radius: 15%;

    section img:hover {
        filter: grayscale(0%);
    }